@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/********************** 글로벌 설정 *********************/
html, body {font-family: 'Lato', sans-serif; color: #000;}

.wrapper {max-width: 800px; margin: 0 auto; padding: 4em 1em;}

.title-wrap {text-align: center;}
.title-wrap h2.title {font-size: 1.75em; font-weight: 400; letter-spacing: 3px;}
.title-wrap h3.sub {font-weight: 400; padding: 1em 0; color: #888; font-style: italic;}
.cnt {line-height: 1.5; width: 100%; text-align: justify;}
.btn {background-color: #000; color: #fff; padding: 0.75em 1.25em; margin-top: 1em;
	border: none; cursor: pointer;}


/********************** header-wrapper *********************/
.header-wrapper {background-color: #000; color: #fff; position: relative;}
.header-wrapper .navi-wrapper {display: flex; justify-content: space-between; align-items: center;}
.header-wrapper .navi-wrap {display: flex;}
.header-wrapper .navi-wrap .navi,
.header-wrapper .navi-wrap .sub-wrap .sub,
.header-wrapper .navi-wrapper .m-bar,
.m-navi-wrapper .m-sub-wrap .m-sub {padding: 1em 1.5em; cursor: pointer;}
.header-wrapper .navi-wrap .navi:hover,
.header-wrapper .navi-wrap .sub-wrap .sub:hover,
.header-wrapper .navi-wrapper .m-bar:hover,
.m-navi-wrapper .m-sub-wrap .m-sub:hover {background-color: #eee; color: #000;}
.header-wrapper .navi-wrapper .search {padding: 1em 1.25em; cursor: pointer;}
.header-wrapper .navi-wrapper .search:hover {background-color: #f44336; color: #fff;}
.header-wrapper .sub-wrap {position: absolute; top: 51px; left: 405px; background-color: #fff;
	z-index: 1;}

.header-wrap .navi-wrapper .m-bar {display: none;}
.m-navi-wrapper .m-sub-wrap {position: absolute; z-index: 1; background-color: #000;
	color: #fff; width: 100%;}

/********************** main-wrapper *********************/
.main-wrapper .img {width: 100%;}
.main-wrapper .swiper-wrapper .swiper-slide {position: relative;}
.main-wrapper .swiper-slide .title-wrap {color: #fff; position: absolute; bottom: 4em;
	width: 100%;}
.main-wrapper .swiper-slide .title-wrap h2 {padding-bottom: 1em; font-weight: 400;}
.main-wrapper .swiper-slide .title-wrap h3{font-size: 0.875em;}


/********************** band-wrapper *********************/
.band-wrapper .band-wrap {display: flex; justify-content: space-around; padding: 2em 0;}
.band-wrapper .band-wrap .band {display: flex; flex-direction: column; align-items: center;}
.band-wrapper .band-wrap .band .title {padding: 1em;}
.band-wrapper .band-wrap .band img {width: 60%;}


/********************** tour-wrapper *********************/
.tour-wrapper {background-color: #000;}
.tour-wrapper .title-wrap .title {color: #fff;}
.tour-wrapper .list-wrap {background-color: #fff; margin-top: 1em;}
.tour-wrapper .list-wrap .month {padding: 1em 0.75em; color: #888;}
.tour-wrapper .list-wrap .month:nth-child(2) {border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;}
.tour-wrapper .list-wrap .month:nth-child(3) {display: flex; justify-content: space-between;
	align-items: center;}
.tour-wrapper .list-wrap span {background-color: #f44336; color: #fff; padding: 0.25em;
	margin-left: 0.5em;}
.tour-wrapper .list-wrap .number {background-color: #000; border-radius: 50%; right: 0;
	padding: 0.25em 0.5em;}

.tour-wrapper .city-wrap {padding: 2em 0; display: flex; justify-content: space-between;}
.tour-wrapper .city-wrap .city {background-color: #fff; width: 33.3333%;}
.tour-wrapper .city-wrap .city:nth-child(2) {margin: 0 2%;}
.tour-wrapper .city-wrap .city img {width: 100%;}
.tour-wrapper .city-wrap .city .desc {padding: 1em;}
.city-wrap .city .desc .title {font-weight: 600;}
.city-wrap .city .desc .date {color: #888; padding: 1em 0;}
.city-wrap .city .desc .bt-buy {background-color: #000; color: #fff; padding: 0.75em 1.25em;
	margin-top: 1em; border: none; cursor: pointer;}
.city-wrap .city .desc .bt-buy:hover {background-color: #888; color: #000;}


/********************** contact-wrapper *********************/
.contact-wrapper .desc-wrap {padding: 2em 0; display: flex; align-items: center;}
.contact-wrapper .desc-wrap .info-wrap {width: 40%;}
.contact-wrapper .info-wrap .info:nth-child(2) {padding: 0.5em 0;}
.contact-wrapper .info-wrap .info i {margin-right: 1em; font-size: 0.75em; text-align: center;}
.contact-wrapper .maill-wrap {width: 60%;}
.contact-wrapper .maill-wrap input {padding: 0.5em; border: 1px solid #ddd;}
.contact-wrapper .maill-wrap input[name="name"] {width: 45%; float: left;}
.contact-wrapper .maill-wrap input[name="email"] {width: 45%; float: right;}
.contact-wrapper .maill-wrap input[name="message"] {width: 97%; margin-top: 1em;}
.contact-wrapper .maill-wrap .bt-send {width: 100%;}


/********************** loc-wrapper *********************/
.loc-wrapper .map-img {width: 100%;}


/********************** footer-wrapper *********************/
.footer-wrapper {text-align: center; color: #888; }
.footer-wrapper .sns-wrap {display: flex; justify-content: center; margin-bottom: 1em; font-size: 1.25em;}
.footer-wrapper .sns-wrap a {padding: 0 0.125em;}
.footer-wrapper .sns-wrap a:hover {color: #ddd;}
.footer-wrapper .copyright a {text-decoration: underline;}


/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 767px) { 
	.header-wrap .navi:not(:first-child) {display: none;}
	.header-wrap .navi-wrapper .search {display: none;}
	.header-wrap .navi-wrapper .m-bar {display: block;}

	.band-wrapper .band-wrap {flex-wrap: wrap;}
	.band-wrapper .band-wrap .band {width: 100%;}

	.tour-wrapper .city-wrap {flex-wrap: wrap;}
	.tour-wrapper .city-wrap .city {width: 100%;}
	.tour-wrapper .city-wrap .city:nth-child(2) {margin: 1em 0;}

	.contact-wrapper .desc-wrap {flex-direction: column;}
	.contact-wrapper .desc-wrap .info-wrap {margin-bottom: 1em; width: 100%; text-align: center;}
	.contact-wrapper .desc-wrap .maill-wrap {width: 100%;}
	.contact-wrapper .maill-wrap input[name="name"] {width: 97.5%; float: none; }
  .contact-wrapper .maill-wrap input[name="email"] {width: 97.5%; float: none}
  .contact-wrapper .maill-wrap input[name="message"] {width: 97.5%;}
}

@media (max-width: 575px) {
	.main-wrapper .title-wrap {display: none;}
	
}