@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/********************** 글로벌 설정 *********************/
html, body {font-family: 'Lato', sans-serif; color: #000; height: 10000px;}

.wrapper {max-width: 800px; margin: 0 auto; padding: 4em 1em;}

.title-wrap {text-align: center;}
.title-wrap h2.title {font-size: 1.75em; font-weight: 400; letter-spacing: 3px;}
.title-wrap h3.sub {font-weight: 400; padding: 1em 0; color: #888; font-style: italic;}
.cnt {line-height: 1.5; width: 100%; text-align: justify;}


/********************** header-wrapper *********************/
.header-wrapper {background-color: #000; color: #fff; box-shadow: 0px 0px 10px rgb(0,0,0 .8);
	position: relative;}
.header-wrapper .header-wrap {display: flex; justify-content: space-between; align-items: center;}
.header-wrapper .navi-wrap {display: flex;}
.header-wrapper .navi-wrap2 {display: flex;}
.header-wrapper .navi-wrap .navi {padding: 1em 1.5em; cursor: pointer;}
.header-wrapper .navi-wrap .navi:hover {background-color: #eee; color: #000;}
.header-wrapper .search {padding: 1em 1.25em; cursor: pointer;}
.header-wrapper .search:hover {background-color: #f44336; color: #fff; }
.header-wrapper .sub-wrap {position: absolute; top: 51px; left: 405px; background-color: #fff;
	box-shadow: 0px 0px 10px rgb(0, 0, 0 .5); z-index: 99;}
.header-wrapper .sub-wrap .sub {padding: 1em;}
.header-wrapper .sub-wrap .sub:hover {background-color: #eee;}


/********************** main-wrapper *********************/
.main-wrapper {position: relative;}
.main-wrapper .img {width: 100%; height: 100vh;}
.main-wrapper .title-wrap {color: #fff; position: absolute; bottom: 4em; width: 100%;}
.main-wrapper .title-wrap h2 {padding-bottom: 1em; font-weight: 400;}
.main-wrapper .title-wrap h3{font-size: 0.875em;}


/********************** band-wrapper *********************/
.band-wrapper .band-wrap {display: flex; justify-content: space-around; padding: 2em 0;}
.band-wrapper .band-wrap .band {display: flex; flex-direction: column; align-items: center;}
.band-wrapper .band-wrap .band .title {padding: 1em;}
.band-wrapper .band-wrap .band img {width: 60%;}


/********************** tour-wrapper *********************/
.tour-wrapper {background-color: #000;}
.tour-wrapper .title-wrap .title {color: #fff;}
.tour-wrapper .list-wrap {background-color: #fff;}
.tour-wrapper .list-wrap .month {padding: 1em 0.75em; color: #888;}
.tour-wrapper .list-wrap .month:nth-child(2) {border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;}
.tour-wrapper .list-wrap .month:nth-child(3) {display: flex; justify-content: space-between;
	align-items: center;}
.tour-wrapper .list-wrap span {background-color: #f44336; color: #fff; padding: 0.25em;
	margin-left: 0.5em;}
.tour-wrapper .list-wrap .number {background-color: #000; border-radius: 50%; right: 0;
	padding: 0.25em 0.5em;}

/********************** contact-wrapper *********************/
/********************** loc-wrapper *********************/
/********************** footer-wrapper *********************/


/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
	
}