@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap');

/* 
, #00b5e6
*/
/********************** 글로벌 설정 *********************/
html, body {font-family: 'Noto Sans KR', sans-serif; color: #000;}
.wrapper {max-width: 900px; margin: 0 auto; padding: 5em 1em;}

.title-wrap {text-align: center;}
.title-wrap h2.title {font-size: 1.75em; font-weight: 700; letter-spacing: 3px;}
.cnt {line-height: 1.5; width: 100%; text-align: justify;}

.bt-more {text-align: center; padding-top: 1em;}
.bt-more a {padding: 0.75em 2em; background-color: #fff; font-size: 1.25em; text-align: center;}
.bt-more a:hover {background-color: #ccc;}


/********************** header-wrapper *********************/
.header-wrapper {position: fixed; width: 100%; z-index: 99; background-color: #fff; box-shadow: 5px 5px 5px rgba(0, 0, 0, .25); color: #222; }
.header-wrapper .navi-wrapper {display: flex; justify-content: space-between; align-items: center;}
.header-wrapper .logo {display: flex; align-items: center; padding: 0.25em 0.5em;	font-size: 1.75em; font-weight: 700;}
.header-wrapper .logo .img {margin-right: .25em;}
.header-wrapper .navi-wrap {display: flex;}
.header-wrapper .navi-wrap .navi a {padding: 1em 1.5em; font-weight: bold;}
.header-wrapper .info-wrap {padding-right: 0.5em;}
.header-wrapper .info-wrap i {padding: 1em;}
.header-wrapper .info-wrap .bars {display: none;}
.header-wrapper .info-wrap .bars a {padding: 0.5em;}
.header-wrapper .navi-wrap .navi:hover,
.header-wrapper .info-wrap i:hover,
.header-wrapper .m-navi-wrap .m-navi:hover {color: #fff; background: linear-gradient(to right, #00e2d6, #00b5e6);}

.header-wrapper .m-navi-wrap {background-color: #fff; display: none;}
.header-wrapper .m-navi-wrap .m-navi {border-top: 1px solid #ccc;}
.header-wrapper .m-navi-wrap .m-navi a {width: 100%; height: 100%; padding: 1em;}


/********************** main-wrapper *********************/
.main-wrapper {position: relative;}
.main-wrapper .main-wrap video {width: 100%; height: 90vh; object-fit: cover; }
.main-wrapper .main-wrap .title-wrap {color: #00c8ff; position: absolute; left: 50%; top: 45%; 
	transform: translateX(-50%); text-align: center;}
.main-wrapper .main-wrap .title-wrap .title {font-size: 3em; font-weight: 900; line-height: 130%;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);}


/********************** about-wrapper *********************/
.about-wrapper .about-wrap {display: flex; justify-content: space-around; align-items: center; padding: 2em 0;}
.about-wrapper .about-wrap .swiper-container {width: 98%; margin-right: 2%;}
.about-wrapper .about-wrap .cnt {width: 98%; margin-left: 2%; font-style: italic;}


/********************** tour-wrapper *********************/
.tour-wrapper {background-color: #7efff9;}
.tour-wrapper .swiper-container {width: 100%; height: 100%; padding: 2em 0;}
.tour-wrapper .swiper-container .swiper-slide {position: relative;}
.tour-wrapper .swiper-container .swiper-slide .des-wrap {position: absolute; bottom: 0;	padding: 1.5em 1em; width: 100%; background-color: rgba(255, 255, 255, .8);}
.tour-wrapper .swiper-container .swiper-slide:hover .des-wrap {background-color: #fff;}
.tour-wrapper .swiper-slide .des-wrap .title {font-size: 1.25em; font-weight: 700;}
.tour-wrapper .swiper-slide .des-wrap .way {padding: 1em 0;}
.tour-wrapper .swiper-slide .des-wrap .pay span {color: #00b5e6; font-weight: 700;}
.tour-wrapper .swiper-container .swiper-slide img {display: block; object-fit: cover; cursor: pointer;}
.tour-wrapper .swiper-container .swiper-btn {color: #fff; opacity: 0.5;}
.tour-wrapper .swiper-container .swiper-btn:hover { opacity: 1;}


/********************** service-wrapper *********************/
.service-wrapper .icon-wrap {display: flex; justify-content: space-around; color: #aaa; flex-wrap: wrap;}
.service-wrapper .icon-wrap .icon {padding: 1em; margin: 2em 0; text-align: center; cursor: pointer;}
.service-wrapper .icon-wrap .icon i {font-size: 2.5em; padding: 1em;}
.service-wrapper .icon-wrap .icon .title {font-size: 1.25em; padding-bottom: 1em;}
.service-wrapper .icon-wrap .icon:hover {color: #000;}


/********************** contact-wrapper *********************/
.contact-wrapper {background-color: #80e3ff;}
.contact-wrapper .desc-wrap {padding: 2em 0; display: flex; align-items: center;}
.contact-wrapper .desc-wrap .info-wrap {width: 40%; font-size: 1.25em;}
.contact-wrapper .info-wrap .info:nth-child(2) {padding: 0.5em 0;}
.contact-wrapper .info-wrap .info i {margin-right: 1em; font-size: 0.75em; text-align: center;}
.contact-wrapper .maill-wrap {width: 60%;}
.contact-wrapper .maill-wrap input {padding: 0.5em; border: 1px solid #ddd; background-color: #fff;}
.contact-wrapper .maill-wrap .top {display: flex; justify-content: space-between;}
.contact-wrapper .maill-wrap input[name="name"] {width: 49%;}
.contact-wrapper .maill-wrap input[name="email"] {width: 49%;}
.contact-wrapper .maill-wrap input[name="message"] {width: 100%; margin-top: 1em;}
.contact-wrapper .maill-wrap .bt-send {margin-top: 1em; padding: 1em; width: 100%; display: inline-block;
	background-color: #333; color: #fff;}


/********************** footer-wrapper *********************/
.footer-wrapper {display: flex; justify-content: space-between; align-items: center; background-color: #333; color: #aaa; padding: 2em 1em;}
.footer-wrapper .sns-wrap {display: flex; justify-content: center; font-size: 1.5em;}
.footer-wrapper .sns-wrap a:hover {color: #fff;}
.footer-wrapper .copy {font-weight: lighter;}


/********************** modal-wrapper *********************/
.modal-wrapper {background-color: rgba(0, 0, 0, .5); width: 100%; height: 100vh; position: fixed;	top: 0; left: 0;z-index: 10; display: none; padding: 0 1em;}
.modal-wrapper .modal-wrap {max-width: 500px; margin: 20vh auto; background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, .5); transition: all 0.5s; transform: translateY(-100vh);}
.modal-wrapper .modal-wrap .modal-top {background-color: #ddd; position: relative;}
.modal-wrapper .modal-top .bt-close {padding: 1em; color: #fff; position: absolute; right: 0;}
.modal-wrapper .modal-top .bt-close:hover {color: #000;}
.modal-wrapper .modal-top .title {font-size: 2em; letter-spacing: 5px; text-align: center; padding: 1.5em 0;}

.modal-wrapper .modal-body, .modal-wrapper .modal-bottom {padding: 1em;}
.modal-wrapper .modal-body input,
.modal-wrapper .modal-body select {border: 1px solid #aaa; width: 100%; padding: 0.5em; margin-bottom: 1em;}
.modal-wrapper .modal-body .person-wrap {display: flex; justify-content: space-between;}
.modal-wrapper .modal-body .person-wrap input:nth-child(1) {margin-right: 2%;}
.modal-wrapper .modal-body .person-wrap input:nth-child(3) {margin-left: 2%;}
.modal-wrapper .modal-body .bt-send {background-color: #ddd; padding: 1em 0; width: 100%; margin-top: 0.5em}
.modal-wrapper .modal-body .bt-send:hover {color: #fff; background: linear-gradient(to right, #00e2d6, #00b5e6);}

.modal-wrapper .modal-bottom {display: flex; justify-content: flex-end;}
.modal-wrapper .modal-bottom .help a {color: #2196F3; text-decoration: underline;}

.modal-wrapper.active {display: block;}


/********************** 반응형 설정 *********************/
@media (max-width: 767px) {
	.header-wrapper .navi-wrap,
	.header-wrapper .info-wrap .fa-search {display: none;}
	.header-wrapper .m-navi-wrap {display: block;}
	.header-wrapper .info-wrap .bars {display: block;}

	.main-wrapper .main-wrap .title-wrap .title {font-size: 2em;}

	.about-wrapper .about-wrap {display: block;}
	.about-wrapper .about-wrap .swiper-container {width: 100%; margin: 0 auto;}
	.about-wrapper .about-wrap .cnt {width: 100%; margin: 2em 0 0;}

	.tour-wrapper .swiper-container .swiper-slide .des-wrap {background-color: #fff;}

	.service-wrapper .icon-wrap .icon .title {font-size: 1em;}
		
	.contact-wrapper .desc-wrap {flex-direction: column;}
	.contact-wrapper .desc-wrap .info-wrap {margin-bottom: 1em; width: 100%; text-align: center;}
	.contact-wrapper .desc-wrap .maill-wrap {width: 100%; padding-top: 2em;}
}

@media (max-width: 575px) {
	.header-wrapper .logo {font-size: 1.25em;}
	.main-wrapper .title-wrap {font-size: 1em;}
	.title-wrap h2.title {font-size: 1.5em;}
}